audioread
dtwalign
eng_to_ipa
epitran==1.25.1
flask
flask_cors
omegaconf
ortools==9.11.4210
pandas
pickle-mixin
python-dotenv
requests
sentencepiece
soundfile==0.12.1
sqlalchemy
structlog
torch
torchaudio
transformers
